h1{
    font-family: 'Girassol', cursive;
    margin-left: 20px;
    margin-top: 10px;
    color: white;
}

h4{
    font-family: 'Girassol', cursive;
    margin-top: 60px;
    margin-left: -190px;
    color: white;
}

.nav{
    background-color: black;
}

.menubtn{
    margin-top: 30px;
    margin-bottom: 45px;
    margin-left: 700px;
    margin-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    /* background-color: black; */
    font-family: 'Girassol', cursive;
    font-size: x-large;

}

.hoursbtn{
    margin-top: 30px;
    margin-bottom: 45px;
    margin-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    font-family: 'Girassol', cursive;
    font-size: x-large;
}

.contactbtn{
    margin-top: 30px;
    margin-bottom: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    font-family: 'Girassol', cursive;
    font-size: x-large;
}

.pizza-sizes{
    font-family: 'Girassol', cursive;
    font-size: x-large;
    background-color: gray;
}

.card{
    width: 60%;
    margin-left: 19%;
    margin-top: 30px;
    border-radius: 12px;
}
 h3{
     margin-left: 10px;
 }

p{
    font-family: 'Girassol', cursive;
    font-size: large;
}

.cheese-pizza{
    font-family: 'Girassol', cursive;
    font-size: x-large;
    background-color: gray;
}